:root {
    --color1: #1264E0;
    --color4: #B1BBC9;
    --color5: #234B70;

    --gradient1: linear-gradient(125.27deg, #6BB6ED 19.43%, #C4E0FA 85.36%);
    --gradient2: linear-gradient(180deg, #EA8713 0%, #ECAF68 14.06%, #EDD0AE 100%);
    --gradient3: linear-gradient(180deg, #4A9CEF 0%, #C4E6FF 100%);
    --gradient4: linear-gradient(180deg, #FF8F28 0%, #FFA73F 25%, #FFCD9E 100%);

    --error: #FF6969;

    --divider: #E6EDF5;
    --stroke-color1: #ECECEC;
    --stroke-color2: #86B4FB;
    --stroke-color3: #C1D4EF;

    --font-color1: #8E8E8E;
    --font-color2: #C9C9C9;
    --font-color3: #576278;

    --text-color2: #8AA2C5;
    --text-color4: #33608A;

    --link-color: var(--color1);

    --background-color1: #F4F8FC;

    --box-shadow1: 0px 8px 8px rgba(134, 182, 255, 0.06);
    --box-shadow2: 0px 8px 8px rgba(134, 182, 255, 0.15);

    --font-size1: 12px;
    --line-height1: 18px;

    --font-size2: 14px;
    --line-height2: 20px;

    --font-size3: 16px;
    --line-height3: 22px;

    --font-size4: 18px;
    --line-height4: 24px;

    --font-size5: 20px;
    --line-height5: 26px;

    --font-size6: 22px;
    --line-height6: 28px;

    --font-size7: 24px;
    --line-height7: 30px;

}